<h1>Welcome to DCS</h1>


<p>Hi, we have created an account for you!</p>
<p>Below is your username(your email) and password that you will use to sign in to your account.</p>
<p><strong>NB: It is highly recommended that you change your password after you sign in.</strong></p>
<hr>
<p><strong>Email: <%= @to %></strong></p>
<p><strong>Password: <%= @password %></strong></p>
